<meta charset="UTF-8">
<title>EJS is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>
    body {
        padding-top: 50px;
    }

    #chart {
        max-width: 650px;
        margin: 35px auto;
    }
</style>