<!DOCTYPE html>

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <div id="header">
        <h1 class="center">
            Hypixel Guild Tracker
        </h1>
        <!-- Make Search bar with Bootstrap -->
        <form action="/guild-tracker" class="center" autocomplete="off" method="get">
            <div class="input-group mb-3 searchbar center">
                <input type="text" class="form-control" placeholder="Search for a guild..."
                    aria-label="Search for a guild..." aria-describedby="basic-addon2" name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search!</button>
                </div>
            </div>
    </div>

    <div id="chart"></div>
    <script>
        const options = {
            series: JSON.parse(`<%-JSON.stringify(series)%>`),
            chart: {
                height: 350,
                width: '100%',
                type: 'line',
                zoom: {
                    enabled: true,
                    type: 'x'
                },
                foreColor: 'white',
                animations: {
                    enabled: false,
                    easing: 'easeinout',
                    speed: 800,
                    animateGradually: {
                        enabled: true,
                        delay: 150
                    },
                    dynamicAnimation: {
                        enabled: true,
                        speed: 350
                    },
                }

            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth',
                width: 2
            },
            title: {
                text: 'Top Guilds',
                align: 'center',
            },

            xaxis: {
                type: 'datetime'
            },
            yaxis: {
                title: {
                    text: 'Daily GEXP'
                },
                labels: {
                    formatter: (val) => {
                        return guildLevel(val).level
                    }
                },
                range: 0

            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        function guildLevel(exp) {
            const EXP_NEEDED = [
                100000,
                150000,
                250000,
                500000,
                750000,
                1000000,
                1250000,
                1500000,
                2000000,
                2500000,
                2500000,
                2500000,
                2500000,
                2500000,
                3000000
            ];
            var level = 0;

            for (let i = 0; i <= 1000; i += 1) {
                var need = 0;

                if (i >= EXP_NEEDED.length) need = EXP_NEEDED[EXP_NEEDED.length - 1];
                else need = EXP_NEEDED[i];

                if (exp - need < 0)
                    return {
                        level: Math.round((level + exp / need) * 100) / 100,
                        nextLevel: Math.round(need - exp)
                    };

                level += 1;
                exp -= need;
            }

            return { level: 1000, nextLevel: 0 };
        };

        function scaledGEXP(input) {
            if (input <= 200000) return Number(input);
            if (input <= 700000) return Number(Math.round(((input - 200000) / 10) + 200000));
            if (input > 700000) return Number(Math.round(((input - 700000) / 33) + 250000));
        }
    </script>
</body>

</html>